html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1/3;
}

.header {
  background-color: #d1fae5;
  grid-column: 2/3;
}

.content {
  background-color: #6ee7b7;
  grid-column: 2/3;
  grid-row: 2/3;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}

.sidebar {
  background-color: #10b981;
  color: #fff;
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  padding-top: 2rem;
  display: grid;
  justify-content: center;
}

.header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1.5fr;
  font-family: "Amatic SC", cursive;
  padding: 0.5rem 2rem;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-family: "Amatic SC", cursive;
  gap: 15px;
  padding: 20px;
}
.content h3,
.content h4 {
  margin: 0;
  font-weight: 700;
}

.content-title {
  font-size: 2rem;
}

.content-projects {
  grid-row: 1/3;
  display: grid;
  grid-template-rows: 3rem repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  border: 2px solid #8b8b8b;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem auto auto;
  gap: 5px;
  background-color: #d1fae5;
}

.project-title {
  font-size: 1.5rem;
  grid-column: 1/3;
}

.project-description {
  font-size: 1.2rem;
  grid-column: 1/3;
  margin: 0;
}

.project-reaction {
  grid-column: 2/3;
  align-self: end;
  justify-self: end;
}

.content-announcements {
  display: grid;
  grid-template-rows: 3rem auto;
  gap: 10px;
}

.announcements-wrapper {
  display: grid;
  justify-items: center;
  gap: 15px;
}

.announcement-card {
  display: grid;
  gap: 5px;
  font-size: 1.3rem;
}
.announcement-card p {
  font-size: 1.2rem;
  margin: 0;
}

.content-trending {
  display: grid;
  grid-template-rows: 3rem auto;
}

.trending-wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
}

.trending-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: 5px;
}

.trending-card img {
  border-radius: 50%;
  grid-row: 1/3;
  width: 75px;
}

.trending-name {
  align-self: end;
}

.navigation-link,
.settings-link {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-transform: capitalize;
}

.navigation-list,
.settings-list {
  display: grid;
  justify-items: center;
  gap: 5px;
}

.nav-icon {
  height: 30px;
}
.nav-icon svg {
  display: grid;
  align-items: center;
  width: 30px;
  height: 30px;
}

.navigation-link:hover,
.settings-link:hover {
  color: gold;
}

.logo-wrapper {
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.logo-wrapper:hover {
  color: gold;
}

.logo-icon svg {
  width: 50px;
  height: 50px;
}

.logo-title {
  margin: 0;
  display: inline;
}

.header-search {
  display: grid;
  align-items: center;
}

.search-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 30px minmax(100px, 60%);
  gap: 10px;
}

.search-button {
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  color: #8b8b8b;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.search-button:hover {
  color: #343434;
}

.search-text-field {
  grid-column: 2/3;
  border: none;
  padding-left: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  line-height: 1.7rem;
}

.search-text-field:focus-visible {
  outline: none;
}

.header-account-manage {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.notification {
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  color: #8b8b8b;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.notification:hover {
  color: #343434;
}

.manage-avatar {
  width: 50px;
  border-radius: 50%;
}

.manage-name {
  font-weight: 700;
  font-size: 2rem;
}

.header-account-info {
  display: grid;
  font-weight: 700;
  font-size: 1.5rem;
  grid-template-columns: 5rem auto;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  column-gap: 20px;
}

.info-avatar {
  width: 80px;
  border-radius: 50%;
  grid-row: 1/3;
}

.info-title {
  font-size: 1.3rem;
  align-self: end;
}

.info-name {
  align-self: baseline;
}

.header-post-buttons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header-post-buttons button {
  border: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 5px 15px;
  color: #ffffff;
  background-color: #10b981;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out, box-shadow 0.05s ease-in-out;
}
.header-post-buttons button:hover {
  background-color: #2bc491;
  color: gold;
}
.header-post-buttons button:active {
  box-shadow: inset 0px 0px 2px 2px gold;
}

/*# sourceMappingURL=style.css.map */
